repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.2
    hooks:
      - id: gitleaks
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: npx eslint
        language: system
        files: \.[jt]sx?$
        args: ['--max-warnings=0']
  - repo: local
    hooks:
      - id: npm-audit
        name: npm audit
        entry: npm audit
        language: system
        files: ^package(-lock)?\.json$
        pass_filenames: false
